MetroPricingSample/Service References/ServiceReference1/PricingServiceHost.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PricingServiceHost" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PricingServiceHost" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FxRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Updated" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FxRate" nillable="true" type="tns:FxRate" />
</xs:schema>